/* Reset ustawień przeglądarki */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1vh;
    line-height: 1;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-family: 'looksky';
}

/* Podłączenie fontu wg jego instrukcji */
@font-face {
	font-family: 'looksky';
	src: url('../fonts/looksky.eot');
	src: local('looksky'), url('../fonts/looksky.woff') format('woff'), url('../fonts//looksky.ttf') format('truetype');
}

/* Ustawienia "wyświetlacza" */
#display {
    width: 70vw;
    height: 65vh;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

/* Ustawienia kontenera na cyfry */
.digitbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    background-color: black;
    text-align: center;
}

/* Ustawienia animacji cyfr */
.digitbox:not(#end_text) {
    animation-name: vanish;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* Ustawienia wyglądu cyfr */
.digit {
    font-size: 40rem;
    line-height: 60vh;
    color: limegreen;
    padding-left: 4vw;
    text-shadow: 0px 0px 20px limegreen;
    letter-spacing: 1rem;
}

/* Animacja cyfr */
@keyframes vanish {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/* Opóźnienia wyświetlania cyfr */
#number_10 {
    animation-delay: 1s;
}

#number_9 {
    animation-delay: 2s;
}

#number_8 {
    animation-delay: 3s;
}

#number_7 {
    animation-delay: 4s;
}

#number_6 {
    animation-delay: 5s;
}

#number_5 {
    animation-delay: 6s;
}

#number_4 {
    animation-delay: 7s;
}

#number_3 {
    animation-delay: 8s;
}

#number_2 {
    animation-delay: 9s;
}

#number_1 {
    animation-delay: 10s;
}

/* Ustawienia wyglądu końcowego napisu */
.txt {
    font-size: 15rem;
    line-height: 60vh;
    color: limegreen;
    text-shadow: 0px 0px 20px limegreen;
    animation-name: typing;
    animation-iteration-count: 1;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0;
    letter-spacing: 1rem;
}

/* Animacja końcowego napisu */
@keyframes typing {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/* Opóźnienia wyświetlania liter napisu końcowego */
#ai {
    animation-delay: 10.5s;
}

#el {
    animation-delay: 10.8s;
}

#ou {
    animation-delay: 10.95s;
}

#vi {
    animation-delay: 11.1s
}

#ii {
    animation-delay: 11.25s;
}

#si {
    animation-delay: 11.65s;
}

#es {
    animation-delay: 11.8s;
}

#ess {
    animation-delay: 11.95s;
}

#dot1 {
    animation-delay: 12.25s;
}

#dot2 {
    animation-delay: 12.35s;
}

#dot3 {
    animation-delay: 12.45s;
}

/* Ustawienia animacji ostatniej kropki */
.txt + #dot3 {
    animation-name: blinking;
    animation-iteration-count: infinite;
    animation-duration: .6s;
    animation-timing-function: linear;
}

/* Animacja ostatniej kropki */
@keyframes blinking {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}