/* Reset ustawień przeglądarki */
html, body, p {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: 0;
}

.main_container {
    width: 100vw;
    height: 100vh;
}

.img_container {
    width: 40vw;
    height: 20vw;
    background-image: url(../img/obraz.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.img_container::before,
.img_container::after {
    content: "";
    display: block;
    width: calc(40vw + 10px);
    position: absolute;
    left: -5px;
    border-width: 0px 0px 0px 0px;
    border-color: black;
    border-style: solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.img_container::before {
    height: 0;
    top: -5px;
}

.img_container::after {
    height: 0;
    bottom: -5px;
}

.img_container:hover::before {
    border-width: 2px 2px 0px 2px;
    height: calc(10vw + 5px);
}


.img_container:hover::after {
    border-width: 0px 2px 2px 2px;
    height: calc(10vw + 5px);
}

.napis {
    display: none;
    width: calc(40vw + 10px);
    background-color: rgba(0,0,0,.75);
    text-align: center;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    left: -5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.img_container:hover > .napis {
    -webkit-animation-name: powiekszenie_belki;
            animation-name: powiekszenie_belki;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .25s;
            animation-duration: .25s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    display: block;
}

@-webkit-keyframes powiekszenie_belki {
    from {  
    height: 2vw;
    font-size: 1.8vw;
    line-height: 2vw;
    }
    to {
    height: 5vw;
    font-size: 4.8vw;
    line-height: 5vw;
    }
}

@keyframes powiekszenie_belki {
    from {  
    height: 2vw;
    font-size: 1.8vw;
    line-height: 2vw;
    }
    to {
    height: 5vw;
    font-size: 4.8vw;
    line-height: 5vw;
    }
}