body {
    margin: 0;
    padding: 0;
}

#main_box {
    height: 100vh;
    width: 100vw;
    background-color: darkslateblue;
    overflow: hidden;
}
.column {
    height: 100%;
    width: 25%;
    float: left;
    transition: all .2s ease-in-out;
}

.inner {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 200%;
}

.column:hover {
    width: 40%;
}

#main_box:hover .column:not(:hover) {
    width: 20%;
}

#col1 .inner {
    background-image: url(../img/roland-sands-faster-wasp-previews-the-yamaha-xsr900-photo-gallery_1.jpeg);
    background-position: -700px;
}

#col2 .inner {
    background-image: url(../img/roland-sands-faster-wasp-previews-the-yamaha-xsr900-photo-gallery_25.jpeg);
    background-position: -250px;
}

#col3 .inner {
    background-image: url(../img/roland-sands-faster-wasp-previews-the-yamaha-xsr900-photo-gallery_3.jpeg);
    background-position: 25px;
}

#col4 .inner {
    background-image: url(../img/roland-sands-faster-wasp-previews-the-yamaha-xsr900-photo-gallery_22.jpeg);
    background-position: 350px;
}

